<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <a href="#/home" class="navbar-brand">NodeMyAdmin</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#/home" class="nav-link">Home</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <h6 class="text-center">Databases : </h6>
            <select class="form-control select-database" ng-model="vm.selectedDB" ng-change="selectDatabase($event, this)">
                <option value="{{database}}" ng-repeat="database in vm.databases">{{::database}}</option>
            </select>
            <h6 class="text-center">Tables : </h6>
            <ul class="nav nav-pills flex-column table-col">
                <li class="nav-item" ng-repeat="table in vm.tables">
                    <a href="" class="nav-link" ng-bind="table" ng-click="selectTable($index)" ng-class="{'active' : (selectedTable == $index)}"></a>
                </li>
            </ul>
        </nav>
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div ui-view="">

            </div>
        </main>
    </div>
</div>